.App {
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: darkolivegreen;
  color: blanchedalmond;
}

.nav_links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

ul {
  list-style-type: circle;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.service_link,
.service_link:visited {
  background-color: white;
  color: black;
  border: 2px solid darkolivegreen;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.service_link:hover,
.service_link:active {
  background-color: darkolivegreen;
  color: white;
}
